* {
    margin: 0;
    padding: 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* form {
    padding: 0.2rem;
    border: red solid 1px;
} */




/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */


.container-principal-login{
    /* border: 1px solid red; */
    
    display: flex;
    
    /* max-width: 1200px; */
    
    /* align-items: center; */
    /* justify-content: center; */
    
    /* justify-content: space-between; */
    justify-content: space-around;
    
    height: 100vh;
    
}


.area-logo-login{
    /* border: 1px solid red; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 60rem;
    height: 100vh;
    
    img {
        height: 100vh;
        
        color: tomato;
    }
    
}

.container-conteudo-login{
    // border: 1px solid red;
    
    border-radius: 20px;
    color: var(--title);
    
    font-family: 'Nunito', sans-serif;
    
    background: transparent;
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    width: 40rem;
    height: 100vh;
    
    margin-right: 70px;
    
    form {
        button{
            
            width: 100;
            height: 56px;
            
            display: flex;
            flex-direction: column;
            min-width: 350px;
            
            background: var(--botao);
            color: var(--white);
            border-radius: 5px;
            
            align-items: center;
            justify-content: center;
            text-align: center;
            
            font-size: 1.3rem;
            
            border: red solid 1px;
        }
    }
    p {
        margin: 1rem;
        color: #000;
        font-weight: 700;
        
        a {
            color: var(--white);
        }
    }
    h1 {
    
        font-size: 1.75rem;
        margin-top: 2.5rem;
        font-weight: 800;
    }
    
    div {
        position: relative;
        border: 1px solid red;
    }
}

.lnr-eye {
    position: absolute;
    /* height: 100px; */
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: red;
}

.forgot_password{
    color: var(--white);
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */


/* FLOAT LABEL  ////////////////////////////////////////////////////////////////////////////// */ 
/* FLOAT LABEL  ////////////////////////////////////////////////////////////////////////////// */ 
/* FLOAT LABEL  ////////////////////////////////////////////////////////////////////////////// */ 
/* FLOAT LABEL  ////////////////////////////////////////////////////////////////////////////// */ 

#float-label{
    display: flex;
    flex-direction: column;
    width: 350px;

    position: relative;

    margin-top: 10px;
}

#float-label input{
    width: 100;
    height: 56px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
}

#float-label label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    margin: -8px;
    color: #999;
    pointer-events: none;

    position: absolute;
    transform: translate(0, 26px) scale(1);

    transform-origin: top left;
    transition: all 0.2s ease-out;
}

#float-label:focus-within label {
    transform: translate(0, 12px) scale(0.75);
}

#float-label .Active {
    transform: translate(0, 12px) scale(0.75);
}